<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.mall618.mall.dao.CarouselMapper">
    <resultMap id="BaseResultMap" type="ltd.mall618.mall.entity.Carousel">
        <id column="carousel_id" jdbcType="INTEGER" property="carouselId"/>
        <result column="carousel_url" jdbcType="VARCHAR" property="carouselUrl"/>
        <result column="redirect_url" jdbcType="VARCHAR" property="redirectUrl"/>
        <result column="carousel_rank" jdbcType="INTEGER" property="carouselRank"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        carousel_id, carousel_url, redirect_url, carousel_rank, create_time, update_time
    </sql>


    <select id="findCarouselsByNum" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_carousel
        order by carousel_rank desc
        limit #{number}
    </select>


</mapper>